In [1]:
import random as r

In [2]:
Set         = set([-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4])
SetSize     = 5
ResultList  = set()    # Store Result List i.e. list of sets whose sum is zero
Iterations  = 1000    # Number of Inerations

In [3]:
# Loop till number of Iterations
for i in range(Iterations):
    # Select number of elements from Set
    Chromosome = r.sample(Set,SetSize)
    
    # Sum the number of elements in the Chromosome
    if sum(Chromosome) == 0:
        ResultList.add(tuple(Chromosome))

<ipython-input-3-03544d6be9f3>:4: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  Chromosome = r.sample(Set,SetSize)

In [4]:
# Print all the sets whose sum is zero
for r in ResultList:
	print (r)

# Print total sets
print ("\nTotal Sets: ", len(ResultList), "\n")

(-4, -3, -2, 7, 2)
(-6, 11, 1, -4, -2)
(-4, -2, 7, 6, -7)
(-6, -4, 9, 6, -5)
(-2, -6, 9, -3, 2)
(-8, -2, 3, 1, 6)
(9, -6, -12, 6, 3)
(11, -6, -4, 6, -7)
(3, -7, 6, 1, -3)
(7, 9, -5, -4, -7)
(6, 2, -8, 9, -9)
(-5, -6, 3, -3, 11)
(11, -2, -6, 2, -5)
(1, -9, 2, 11, -5)
(-4, 3, -7, 6, 2)
(7, 9, -3, -5, -8)
(-12, -2, 2, 11, 1)
(-4, -5, 9, -6, 6)
(-8, 11, 6, -4, -5)
(3, -6, 1, 7, -5)
(-4, -7, -2, 2, 11)
(9, 11, -9, 1, -12)
(3, 11, -2, -3, -9)
(-5, 7, 9, -4, -7)
(7, -4, 6, -2, -7)
(-8, 11, 9, -7, -5)
(-4, -2, 11, 1, -6)
(7, 11, -9, -12, 3)
(-2, 9, 3, -4, -6)
(2, -3, -12, 6, 7)

Total Sets:  30